{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    h1 {
        color: #ff1f1f;
        font-size: 36px;
        margin-top: 40px;
    }

    form {
        margin: 20px auto;
        max-width: 400px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #333333;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }

    select, input[type="text"], input[type="url"], textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        background-color: #ffffff;
        font-size: 16px;
        color: #333333;
        margin-bottom: 20px;
    }

    textarea {
        resize: none;
        height: 100px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        background-color: #ff1f1f;
        color: #ffffff;
        transition: background-color 0.3s, color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #ff4242;
    }
</style>


<h1>Register a Pokemon to the Pokedex!</h1>
<form action="{{ url_for('processing') }}" method="post">
    <label for="pkmn_type">Type of Pokemon:</label>
    <select name="pkmn_type" id="pkmn_type" required>
        <option disabled selected value>...</option>
        <option value="bug">Bug</option>
        <option value="dragon">Dragon</option>
        <option value="electirc">Electric</option>
        <option value="fighting">Fighting</option>
        <option value="fire">Fire</option>
        <option value="flying">Flying</option>
        <option value="ghost">Ghost</option>
        <option value="grass">Grass</option>
        <option value="ground">Ground</option>
        <option value="ice">Ice</option>
        <option value="normal">Normal</option>
        <option value="poison">Poison</option>
        <option value="psychic">Psychic</option>
        <option value="rock">Rock</option>
        <option value="water">Water</option>
    </select><br><br>
    <label for="pkmn_name">Name of Pokemon:</label>
    <input type="text" name="pkmn_name" id="pkmn_name" required><br><br>
    <label for="pkmn_url">Image URL:</label>
    <input type="url" name="pkmn_url" id="pkmn_url"><br>
    <textarea name="pkmn_desc" placeholder="Tell something about your Pokemon" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Register!">
</form>
{% endblock %}